
HTML body{
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    background: rgb(235, 232, 232);
    overflow: hidden;
    align-items: center;
}

.containerTab{
    z-index: 1;
    background: rgb(126, 125, 125);
    position: absolute;
    width: 2rem;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
    align-items: center;
}
.pullTab{
    z-index: 2;
    position: absolute;
    cursor: pointer;
    border-radius: 100px;
    top: 50%;
    left: 7px;
    width: 1rem;
    height: 60px;
    background: rgb(201, 197, 197);
}

.routineContainer{
    position: absolute;
    border: none;
    margin: 0;
    padding: 0;
    margin-left: 125rem;
    top: 10%;
    transform: translate(-55%);
    height: 5rem;
    width: 50rem;
    display: grid;
    grid-template-columns: repeat(7, 100px);
    gap: 15px;
    align-items: center;
    justify-content:center;
    overflow: hidden;
}

.routineContainer input{
    font-size: 15px;
    font-weight: 1000;
    text-decoration: none;
    border: none;
    background: none;
}
.routineContainer input:hover{
    cursor: pointer;
    
    color: aqua;
}

@media all and (max-width: 400px) {
    .containerTab{
        width:1rem;
    }
}


/* <!-- Css Font Units -->
<!-- Font size 'rem' adapt to user preference -->
<!-- 'Em' is worst then rem -->

<!-- Width Units -->
<!-- '%' good for a max weight with it -->
<!-- 'ch' = to a character -->

<!-- Height units -->
<!-- Min height is better for overflow -->
<!-- percentage, rem or viewport 
        however the question still remains 
        do you need to set a height -->

<!-- Padding & Marggins -->
<!-- em or rem for consistance or adjustable  -->

<!-- Media Querys -->
<!-- em for consistancy -->

<!-- Don't use px --> */